@keyframes pulsating-logo {
  from {
    width: 500px;
  }

  to {
    width: 550px;
  }
}

@media (max-width: 720px) {
  @keyframes pulsating {
    from {
      width: 60%;
    }

    to {
      width: 70%;
    }
  }
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-logo {
 animation-name: pulsating;
 animation-duration: 1s;
 animation-iteration-count: infinite;
}